body, html, .site, .site-content {
    height: 100%;
    margin: 0;
    font-family: 'Comfortaa', serif;
}

.container {
    padding: 20px;
    text-align: center;
}

.navigation {
    font-size: 14px;
    letter-spacing: 3px;
    color: black;
    background-color: #e1f9ff;
    position: fixed;
    height: auto;
    z-index: 3;
    width: 100%;
}

.navigation .container {
    padding: 0 10px;
    min-width: 700px;
}

.navigation .container .nav-bar {
    text-align: left;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
}

.navigation .container .nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation .container .nav-bar ul li {
    display: inline-block;
    padding: 15px 10px;
    text-transform: uppercase;
}

.navigation .container .search {
    text-align: right;
    width: 49%;
    display: inline-block;
    padding: 15px 10px 15px 0;
    box-sizing: border-box;
}

.title {
    width: 100%;
    background-color: #e1f9ff;
    height: 30%;
    padding-top: 40px;
    box-sizing: border-box;
}

.title .container .maintitle {
    font-size: 50px;
    font-style: oblique;
}

.title .container .maintitle a {
    color: #ff5975;
    text-decoration: none;
}

.title .container .subtitle {
    color: #ff8ea6;
    font-size: medium;
    padding: 10px;
}

.slider {
    width: 100%;
    height: 70%;
    box-sizing: border-box;
}

.slider .container {
    background-image: url("404.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 0;
}

.title-slider-container {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.content {
    top: 100%;
    z-index: 2;
    position: relative;
    background-color: white;
}

.section {
    padding: 20px;
    min-width: 800px;
}

.section div {
    margin: 0 auto;
}

.display-title {
    font-size: 30px;
    padding: 30px;
}

.item {
    display: inline-block;
    width: 33%;
}

.picture {
    width: 250px;
    height: 250px;
    background-color: aquamarine;
}

.product-name {
    font-size: medium;
}

.video iframe {
    width: 640px;
    height: 360px;
    padding-bottom: 20px;
}

.footer {
    z-index: 2;
    color: azure;
    opacity: 0.8;
    text-align: center;
    bottom: 0;
    background-color: black;
    position: absolute;
    width: 100%;
}

.footer .container {
    padding: 10px 30px;
}

.contact-us-content, .about-us-content {
    height: 100%;
}

.about-us-content .details {
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1.5;
    padding: 50px 80px;
}

.contact-us-content .container {
    padding: 10px 50px;
}

.contact-us-content .details {
    display: inline-block;
    width: 49.5%;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1.5;
    text-align: left;
    padding: 50px 0;
}

.map {
    display: inline-block;
    width: 49.5%;
    top: 0;
    vertical-align: top;
    background-color: #ff8ea6;
}
